.git
.gitignore
.github
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

*.log
*.zip
*.tar
*.tar.gz

coverage
dist
build
.cache
.tmp
temp

.DS_Store
Thumbs.db

.vscode
.idea

README.md
LICENSE
